<!DOCTYPE html>
<html>
<head>
  <title>GiveWhen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta property="og:url" content="<%= @meta_og_url %>" />
  <meta property="og:image" content="<%= @meta_og_image %>" />
  <meta property="og:title" content="<%= @meta_og_title %>" />
  <meta property="og:description" content="<%= @meta_og_description %>" />
  <meta name="twitter:card" content="<%= @meta_content_twitter_card %>" />
  <meta name="twitter:image:src" content="<%= @meta_content_twitter_img_src %>" />

  <script src="https://js.stripe.com/v3/"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
