<!DOCTYPE html>
<html>
<head>
  <title>GiveWhen</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <% if @crowd_fund.present? %>
    <meta property="og:url" content="<%= "https://wegivewhen.com/#{@crowd_fund.slug}" %>" />
    <meta property="og:image" content="<%= @meta_og_image %>" />
    <meta property="og:title" content="<%= @crowd_fund.open_graph_title %>" />
    <meta property="og:description" content="<%= @crowd_fund.open_graph_description %>" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:image:src" content="<%= @meta_og_image %>" />
  <% end %>

  <script src="https://js.stripe.com/v3/"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="<%= controller_name %> <%= action_name %>">
  <% if @crowd_fund.present? %>
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.9";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
  <% end %>

<%= yield %>

</body>
</html>
